* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
}

section {
    position: fixed;
    height: 100vh;
    width: 100%;
}

div {
    width: 200px;
    margin: auto;
    margin-top: 90vh;
}

button {
    transition: all 0.8s ease;
    color: #fff;
    border: 3px solid grey;
    background-color: transparent;
    padding: 10px;
    border-radius: 9px;
}

button:hover {
    color: white;
    background-color: rgb(51, 51, 36);
}

button:active {
    color: white;
    background-color: black;
    transform: scale(0.2);
}




